{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Login</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>

{% endblock content %}

