{% extends '../base.html' %}

{% block content %}
    <div>
        <h1>My Projects</h1>
        <a href="{% url "create_project" %}">Create project</a>
        {% if project_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in project_list %}
                        <tr>
                            <td><a href="{% url 'show_project' item.pk %}">{{ item.name }}</a></td>
                            <td>{{ item.tasks.all|length }}</td>
                            <tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
{% endblock %}